.nutrition-tile {
  height: 60px;

  border: 1px solid var(--theme-border-color);
  border-radius: 15px;

  color: var(--theme-text-color);

  background-color: var(--theme-secondary-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .value {
    font-size: 18px;
  }

  .name {
    font-size: 14px;
    color: var(--theme-subtext-color);
  }
}